<!--
 * @Author: your name
 * @Date: 2021-04-27 21:36:13
 * @LastEditTime: 2021-05-16 19:40:37
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \learn-js\vue\test.html
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="name">
    <input type="text" v-model="age">
    <input type="text" v-model="time.h">
    <p v-html="html"></p>
    <p v-text="text"></p>
    <input type="button" value="点击"  v-on:click="myFn">
    {{name}}
    {{age}}
    {{ getName }}
  </div>
  <script src="./nue.js"></script>
  <script>
    let vue = new Nue({
      el:"#app",
      data: {
          name:"a1111",
          age:"1",
          time: {
            h:1
          },
          html:`<div>我是div</div>`,
          text:"hello world",
          name:"aaa",
          age:"18"
        },
      methods:{
        myFn:function(){
          alert("myFn被执行了");
          console.log(this);
          console.log(this.name);
        }
      },
      computed:{
        getName(){
          return this.name + "666";
        }
      }
      });
  </script>
</body>
</html>